
<div id="container">
<div class="row footer bg-light">
    <div class="col">
        <p class="text-center">Follow me: <a class="social-icon" href="https://www.facebook.com/profile.php?id=100007866630873"><i class="fab fa-facebook"></i></a> <a class="social-icon" href="https://twitter.com/Mamadoucherifb3"><i class="fab fa-twitter"></i></a></p>
    </div>
    <div class="col">
        <p class="text-center">Copyright &copy; 2021</p>
    </div>
    <div class="col">
        <p class="text-center">Made by: <a href="https://twitter.com/Mamadoucherifb3">Cherif Barry</a></p>
    </div>
</div>
</div>
<footer class="container">
<div class= "row only-mobile">
    <div class="col-6">
        <a class="btn btn-primary btn-block text-center" href="tel:+21650497916"><i class="fa fa-phone" aria-hidden="true"></i> Call</a>
    </div>
    <div class="col-6">
        <a class="btn btn-success btn-block text-center" href="https://api.whatsapp.com/send?phone=+216497916"><i class="fab fa-whatsapp" aria-hidden="true"></i> Whatsapp</a>
    </div>
</div>
</footer>