<p>navigation works!</p>
<nav class="navbar navbar-expand-lg navbar fixed-top  navbar-light bg-light">
    <a class="navbar-brand" routerLink="homeImage">
       <img src="assets/images/logo.png" width="50" height="50" class="d-inline-block" alt=""> Italian Restaurant
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarText">
       <ul class="navbar-nav ml-auto">
             <li class="nav-item">
               <a class="nav-link" routerLinkActive="c" routerLink="homeImage">Welcome</a>
             </li>
             <li class="nav-item">
              <a class="nav-link" routerLink="/blog" routerLinkActive="c">Recipes</a>
              </li>
           <li class="nav-item">
               <a class="nav-link" routerLinkActive="c"  routerLink="restaurant">Random Recipe</a>
           </li>
       
          
       
           
           
       </ul>
   </div>
</nav>
<!--- End Navigation Bar -->