<div class="container">  
  <!--- Start of Menu-->
          <div class="row" id="Menu">
    <div class="col navMenu"> 
          <h2 class="text-center" >~ List of Recipes ~</h2>
          <p class="text-center" >filter the recipe by thier first letter</p>  
        <div class="contain">
          <span (click)="filterByFirstLetter()" routerLink="/filter/a"> a</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/b" >b</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/c" >c</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/d"  >d</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/e"  >e</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/f" >f</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/g" >g</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/h" >h</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/i" >i</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/j" >j</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/k" >k</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/l" >l</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/m" >m</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/n" >n</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/o">o</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/p" >p</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/q" >q</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/r" >r</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/s" >s</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/t" >t</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/u" >u</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/v" >v</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/w" >w</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/x" >x</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/y" >y</span>
          <span (click)="filterByFirstLetter()" routerLink="/filter/z" >z</span>
      </div>
    </div> 
  </div>
  <div class="row bg-light">
 
    <div class="col-md-4" data-aos="slide-up" *ngFor="let meals of meals['meals']">
      <div class="card">
          <img class="card-img-top img-fluid" src="{{meals.strMealThumb}}">
          <div class="card-body">
            <h5 class="card-title">~ {{meals.strMeal}} ~</h5>
          <a routerLink="/detailRecipe/{{meals.idMeal}}" class="btn btn-primary">Go somewhere</a>
          </div> 
      </div>
    </div>
  </div>
  <!--- End of Menu -->
</div>