.btn-circle.btn-xl {
    width: 40px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
  }
  .contain{
width: 100%;
position: relative;

margin-bottom: 40px;

  } 

button:active{
  color: rgb(58, 155, 122);
}




  span{
    font-size: 2em;
    background-color: aqua;
    letter-spacing: 15px;
    overflow-wrap: break-word;
    width: 100%;
  }
 
  .col h2{

    margin-top: 35px;
  }

  @media (min-width: 1000px){

    .contain{

      margin-left: 5%;
      margin-top: 30px;
        }

  }